---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Theme from '../components/Theme.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)
// Get the latest 6 Blogs
.slice(0, 6)
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<style>
			.handsome-image {
				overflow: hidden;
				border-radius: 1rem;
				z-index: 20;
			}
			.handsome-image:hover img {
				transform: scale(1.15);
			}

			.attributes div.hovering {
				z-index: -1;
				position: absolute;
				transform-origin: 0 0;
				transition-duration: 0.4s;
				transform: translate(8rem, 4rem);
				transition-timing-function: cubic-bezier(.47,-0.01,.17,1);
			}
			.attributes:hover div.hovering {
				transform: translate(28rem, -5rem) rotate(22deg);
			}

			.attributes div.hovering-1 {
				z-index: -1;
				position: absolute;
				transform-origin: 0 0;
				transition-duration: 0.75s;
				transform: translate(-4rem, -4rem);
				transition-timing-function: cubic-bezier(.47,-0.01,.17,1);
			}
			.attributes:hover div.hovering-1 {
				transform: translate(-18rem, -7rem) rotate(22deg);
			}

			.attributes div.hovering-2 {
				z-index: -1;
				position: absolute;
				transition-duration: 1s;
				transform-origin: 0 0;
				transform: translateY(12rem);
				transition-timing-function: cubic-bezier(.47,-0.01,.17,1);
			}
			.attributes:hover div.hovering-2 {
				transform: translate(-23rem, 12rem);
			}
		</style>
		<main class="home mt-20">
			<!-- Hero Section -->
			<section class="min-h-[50vh] my-32 flex flex-col items-center justify-center 2xl:mx-72 xl:mx-32 lg:mx-20 mx-4">
				<h1>Hi, I'm Jothish JJ</h1>
				<h4>I can trade code for 💸</h4>
			</section>

			<!-- About me section -->
			<section class="pt-20 2xl:mx-72 xl:mx-32 lg:mx-20 mx-4">
				<h2>About Me</h2>
				<div class="grid lg:grid-cols-2 grid-cols-1 gap-16 mt-6">
					<div class="lg:relative attributes transition 2xl:w-[500px] lg:w-[450px]">
						<div class="hidden hovering transition lg:flex  w-full gap-1">
							<img src="/arrow-icon.png" alt="Arrow Icon"  width="70px" height="10px" />
							<p class="font-cursive  text-4xl  w-full">Handsome</p>
						</div>
						<div class="hidden transition hovering-2 lg:flex justify-center items-center w-full gap-1">
							<p class="font-cursive text-3xl text-center m-0">I use <br>Neovim btw !</p>
						</div>
						<div class="handsome-image">
							<img class="transition z-50" src="/Jothish Handsome.jpg" alt="Jothish is handsome" width="425px">
						</div>
						<div class="hidden transition hovering-1 lg:flex justify-center items-center w-full gap-1">
							<p class="font-cursive  text-4xl m-0">10x Dev</p>
							<img class="-rotate-180 inline-block -translate-y-4" src="/arrow-icon.png" alt="Arrow Icon"  width="70px" height="10px" />
						</div>
					</div>
					<div class="flex flex-col justify-center gap-6">
						<p>
							I'm Jothish JJ. I am a 16-year-old programmer, I am passionate about software engineering.
							As a software engineer, my passion lies in the art of problem-solving and the thrill of bringing ideas to life through code. 
							My journey began with a curiosity to create, leading me through various realms of software development.
						</p>
						<p>
							In every project I undertake, my goal is clear: to create something useful for others. I believe that software should not only 
							address a need but also enhance the lives of its users. By prioritizing functionality and usability, I strive to deliver 
							applications that not only meet expectations but exceed them.
						</p>
					</div>
				</div>
			</section>

			<!-- Articles section -->
			<section class="pt-20 2xl:mx-72 xl:mx-32 lg:mx-20 mx-4">
				<h2>Articles I wrote recently</h2>
				<div class="grid 2xl:grid-cols-3 lg:grid-cols-2 grid-cols-1 gap-8 p-8">
					{posts.map(post => {
						return (
							<a 
								href={`/blog/${post.slug}`}
								class="text-neutral-800 hover:text-neutral-700 dark:text-neutral-200 dark:hover:text-neutral-300 hover:shadow-2xl transition hover:-translate-y-4 border-[1px] border-neutral-900 dark:border-neutral-300 rounded-xl p-4 space-y-4">
								<h5 class="text-center">{post.data.title}</h5>
								<p class="line-clamp-3">{post.data.description}</p>
							</a>
						)
					})}
				</div>
			</section>
			<!-- TODO: Make the Projects Section -->
		</main>
		<Footer />
		<Theme />
	</body>
</html>
